<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>

<body>
<main>
  <nav th:replace="~{fragments/navbar}">
  </nav>

  <form th:action="@{/add/car}"
        th:method="post"
        th:object="${addCarDto}"
        class="main-form mx-auto col-md-12 d-flex flex-column justify-content-center">
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="brandName" class="text-dark font-weight-bold">Brand name</label>
        <input id="brandName"
               th:field="*{brandName}"
               name="brandName" type="text" class="form-control border-danger"
               placeholder="Brand name"/>
        <p th:if="${#fields.hasErrors('brandName')}"
           class="errors text-danger" th:errors="*{brandName}">
        </p>
      </div>

      <div class="form-group col-md-6 mb-3">
        <label for="modelName" class="text-dark font-weight-bold">Model name</label>
        <input id="modelName"
               th:field="*{modelName}"
               name="modelName" type="text" class="form-control"
               placeholder="Model name"/>
        <p th:if="${#fields.hasErrors('modelName')}"
           class="errors text-danger" th:errors="*{modelName}">
        </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="submodelName" class="text-dark font-weight-bold">Submodel name</label>
        <input id="submodelName"
               th:field="*{submodelName}"
               name="submodelName" type="text" class="form-control"
               placeholder="Submodel Name"/>
        <p th:if="${#fields.hasErrors('submodelName')}"
           class="errors text-danger" th:errors="*{submodelName}">
        </p>
      </div>

      <div class="form-group col-md-6 mb-3">
        <label for="engine" class="text-dark font-weight-bold">Engine</label>
        <input id="engine"
               th:field="*{engine}"
               name="engine" type="text" class="form-control"
               placeholder="Engine"/>
        <p th:if="${#fields.hasErrors('engine')}"
           class="errors text-danger" th:errors="*{engine}">
        </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="engineCode" class="text-dark font-weight-bold">Engine code</label>
        <input id="engineCode"
               th:field="*{engineCode}"
               name="engineCode" type="text" class="form-control"
               placeholder="Engine code"/>
        <p th:if="${#fields.hasErrors('engineCode')}"
           class="errors text-danger" th:errors="*{engineCode}">
        </p>
      </div>

      <div class="form-group col-md-6 mb-3">
        <label for="horsePower" class="text-dark font-weight-bold">Horse power</label>

        <input id="horsePower"
               th:field="*{horsePower}"
               name="horsePower" type="text" class="form-control border-danger"
               placeholder="Horse power"/>
        <p th:if="${#fields.hasErrors('horsePower')}"
           class="errors text-danger" th:errors="*{horsePower}">
        </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="year" class="text-dark font-weight-bold">Year</label>
        <input id="year"
               th:field="*{year}"
               name="year" type="text" class="form-control"
               placeholder="Year"/>
        <p th:if="${#fields.hasErrors('year')}"
           class="errors text-danger" th:errors="*{year}">
        </p>
      </div>

      <div class="form-group col-md-6 mb-3">
        <label for="fuel" class="text-dark font-weight-bold">Fuel</label>
        <select id="fuel"
                th:field="*{fuel}"
                class="form-control">
          <option value="">- Select fuel type -</option>
          <option th:each="f : ${fuelsEnumList}"
                  th:text="${f}"
                  th:value="${f}">
          </option>
        </select>
        <p th:if="${#fields.hasErrors('fuel')}"
           class="errors text-danger" th:errors="*{fuel}">
        </p>
      </div>

      <div class="row">
        <div class="col col-md-4">
          <div class="button-holder d-flex">
            <input type="submit" class="btn btn-info bg-dark text-white btn-lg" value="Add car"/>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>

</body>
</html>