<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>
  <header th:replace="~{fragments/navbar}">
  </header>

  <main>
    <form th:action="@{/add/parts}"
          th:method="post"
          th:object="${addPartDto}"
          class="main-form mx-auto col-md-12 d-flex flex-column justify-content-center">

      <div class="row">
        <div class="form-group col-md-6 mb-3">
          <label for="partName" class="text-dark font-weight-bold">Part name</label>
          <input id="partName"
                 th:field="*{partName}"
                 name="partName" type="text" class="form-control"
                 placeholder="Part name"/>
          <p th:if="${#fields.hasErrors('partName')}"
             class="errors text-danger" th:errors="*{partName}">
          </p>
        </div>

        <div class="form-group col-md-6 mb-3">
          <label for="groupName" class="text-dark font-weight-bold">Group name</label>
          <input id="groupName"
                 th:field="*{groupName}"
                 name="groupName" type="text" class="form-control"
                 placeholder="Group name"/>
          <p th:if="${#fields.hasErrors('groupName')}"
             class="errors text-danger" th:errors="*{groupName}">
          </p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 mb-3">
          <label for="kind" class="text-dark font-weight-bold">Kind</label>
          <input id="kind"
                 th:field="*{kind}"
                 name="kind" type="text" class="form-control"
                 placeholder="Kind"/>
          <p th:if="${#fields.hasErrors('kind')}"
             class="errors text-danger" th:errors="*{kind}">
          </p>
        </div>

        <div class="form-group col-md-6 mb-3">
          <label for="manufacturer" class="text-dark font-weight-bold">Manufacturer</label>
          <input id="manufacturer"
                 th:field="*{manufacturer}"
                 name="manufacturer" type="text" class="form-control"
                 placeholder="Manufacturer"/>
          <p th:if="${#fields.hasErrors('manufacturer')}"
             class="errors text-danger" th:errors="*{manufacturer}">
          </p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 mb-3">
          <label for="serialNumber" class="text-dark font-weight-bold">Serial Number</label>
          <input id="serialNumber"
                 th:field="*{serialNumber}"
                 name="serialNumber" type="text" class="form-control"
                 placeholder="Serial number"/>
          <p th:if="${#fields.hasErrors('serialNumber')}"
             class="errors text-danger" th:errors="*{serialNumber}">
          </p>
        </div>

        <div class="form-group col-md-6 mb-3">
          <label for="price" class="text-dark font-weight-bold">Price</label>
          <input id="price"
                 th:field="*{price}"
                 name="price" type="text" class="form-control"
                 placeholder="Price"/>
          <p th:if="${#fields.hasErrors('price')}"
             class="errors text-danger" th:errors="*{price}">
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-4">
          <div class="button-holder d-flex">
            <input type="submit" class="btn btn-info bg-dark text-white btn-lg" value="Add part"/>
          </div>
        </div>
      </div>
    </form>
  </main>
</body>
</html>