<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head}">
</head>

<body>
    <header th:replace="~{fragments/navbar}">
    </header>

    <main class="section-container">
        <div class="container">
            <div class="inner-container">
                <h1>Brands</h1>

                <section class="main-section mx-auto col-md-12 d-flex flex-column justify-content-center">
                    <ul class="ul-brands d-flex list-unstyled">
                        <li class="col-md-2 mb-2 car"
                            th:each="brandDto : ${homeDto.brandDtoList}">
<!--                            <div class="brand-container d-flex flex-column justify-content-between"-->
<!--                                th:if="${@currentUser.isLogged()}">-->
<!--                                <a onclick="setBrandName()"-->
<!--                                        th:href="@{/home/{name}(name=${brandDto.brandName})}"-->
<!--                                   th:title="${brandDto.brandName}">-->
<!--                                    <img class="img-brand"-->
<!--                                         th:src="@{${brandDto.brandImage}}">-->
<!--                                </a>-->
<!--                                <a class="link-text"-->
<!--                                   th:href="@{/home/{name}(name=${brandDto.brandName})}"-->
<!--                                   th:text="${brandDto.brandName}">-->
<!--                                </a>-->
<!--                            </div>-->

                            <div class="brand-container d-flex flex-column justify-content-between"
                                th:unless="${@currentUser.isLogged()}">
                                <a class="image"
                                        th:href="@{/{name}(name=${brandDto.brandName})}"
                                   th:title="${brandDto.brandName}">
                                    <img class="img-brand"
                                         th:src="@{${brandDto.brandImage}}">
                                </a>
                                <a class="link-text"
                                   th:href="@{/{name}(name=${brandDto.brandName})}"
                                   th:text="${brandDto.brandName}">
                                </a>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </main>
</body>
</html>