<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>

<body>
<nav th:replace="~{fragments/navbar}">
</nav>

<div class="container">
    <div class="inner-container">
        <h1>Part Groups</h1>
        <section class="main-section mx-auto col-md-12 d-flex flex-column justify-content-center">

            <!--                If the user is NOT logged in-->
            <div class="information" th:unless="${@currentUser.isLogged()}">
                <ul class="d-flex gap-2 list-unstyled">
                    <li>
                        <a class="text-decoration-none text-dark" th:href="@{/}">CarParts -></a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark brandName"
                           th:href="@{/{brand}(brand=${submodelParts.model.brand.brandName})}">
                            <th:block th:text="${submodelParts.model.brand.brandName}"></th:block>
                            ->
                        </a>
                    </li>
                    <li>
                        <a>
                            <th:block th:text="${submodelParts.model.modelName}"></th:block>
                            <th:block th:text="${submodelParts.submodelName}"></th:block>
                        </a>
                    </li>
                </ul>
            </div>

            <!--                If the user IS logged in-->
            <div class="information" th:if="${@currentUser.isLogged()}">
                <ul class="d-flex gap-2 list-unstyled">
                    <li>
                        <a class="text-decoration-none text-dark"
                           th:href="@{/{uuid}/home(uuid=${@currentUser.getUuid()})}">CarParts -></a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark"
                           th:href="@{/{uuid}/home/{brand}(uuid=${@currentUser.getUuid()},
                                    brand=${submodelParts.model.brand.brandName})}">
                            <th:block th:text="${submodelParts.model.brand.brandName}"></th:block>
                            ->
                        </a>
                    </li>
                    <li>
                        <a>
                            <th:block th:text="${submodelParts.model.modelName}"></th:block>
                            <th:block th:text="${submodelParts.submodelName}"></th:block>
                        </a>
                    </li>
                </ul>
            </div>

            <!--                The list of all groups of parts - if the user IS logged-->
            <ul class="ul-brands d-flex list-unstyled" th:if="${@currentUser.isLogged()}">
                <li class="col-md-2 mb-2" th:each="part : ${submodelParts.parts}">
                    <a class="part-group link-text d-flex justify-content-center"
                       th:href="@{/{uuid}/home/{name}/parts/{submodel}/{group}
                       (uuid=${@currentUser.uuid}, name=${submodelParts.model.brand.brandName},
                       submodel=${submodelParts.submodelName}, group=${part.groupName})}"
                       th:title="*{part.groupName}"
                       th:text="*{part.groupName}">
                    </a>
                </li>
            </ul>

            <!--                The list of all groups of parts - if the user is NOT logged-->
            <ul class="ul-brands d-flex list-unstyled" th:unless="${@currentUser.isLogged()}">
                <li class="col-md-2 mb-2" th:each="part : ${submodelParts.parts}">
                    <a class="part-group link-text d-flex justify-content-center"
                        th:href="@{/{name}/parts/{submodel}/{group}
                        (name=${submodelParts.model.brand.brandName},submodel=${submodelParts.submodelName},
                        group=${part.groupName})}"
                        th:title="*{part.groupName}"
                        th:text="*{part.groupName}">
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>

<footer th:replace="~{fragments/footer}">
</footer>
</body>

<!--<script type="text/javascript">-->
<!--    fetch('http://localhost:8080/').then(function (response) {-->
<!--        return response.text();-->
<!--    }).then(function (html) {-->
<!--        var parser = new DOMParser();-->
<!--        var doc = parser.parseFromString(html, 'text/html');-->

<!--        doc.getElementsByClassName('image')[0].addEventListener('onclick', setBrandName);-->
<!--        function setBrandName() {-->
<!--            document.getElementsByClassName('brandName')[0].textContent =-->
<!--                doc.getElementsByClassName('link-text')[0].textContent;-->
<!--        }-->
<!--    }).catch(function (error) {-->
<!--        console.warn('Something went wrong!', error);-->
<!--    })-->
<!--</script>-->
</html>