<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navbar}">
</nav>
<div class="container">
    <div class="inner-container">
        <h1>Parts</h1>

        <section class="main-section mx-auto col-md-12 d-flex flex-column justify-content-center">

            <!--            If the user is NOT logged in-->
            <div class="information" sec:authorize="!isAuthenticated()">
                <ul class="d-flex gap-2 list-unstyled">
                    <li>
                        <a class="text-decoration-none text-dark" th:href="@{/}">CarParts -></a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark brandName"
                           th:href="@{/{brand}(brand=${submodelAndParts.model.brand.brandName})}">
                            <th:block th:text="${submodelAndParts.model.brand.brandName}"></th:block>
                            ->
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark"
                           th:href="@{/{brand}/parts/{submodel}
                            (brand=${submodelAndParts.model.brand.brandName},
                            submodel=${submodelAndParts.submodelName})}">
                            <th:block th:text="${submodelAndParts.model.modelName}"></th:block>
                            <th:block th:text="${submodelAndParts.submodelName}"></th:block>
                            ->
                        </a>
                    </li>
                    <li>
                        <a th:each="part : ${allPartsOfGivenGroup}">
                            <th:block th:text="${part.groupName}"></th:block>
                        </a>
                    </li>
                </ul>
            </div>

            <!--            If the user IS logged in-->
            <div class="information" sec:authorize="isAuthenticated()">
                <ul class="d-flex gap-2 list-unstyled">
                    <li>
                        <a class="text-decoration-none text-dark"
                           th:href="@{/home}">CarParts -></a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark brandName"
                           th:href="@{/home/{brand}
                           (brand=${submodelAndParts.model.brand.brandName})}">
                            <th:block th:text="${submodelAndParts.model.brand.brandName}"></th:block>
                            ->
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-dark"
                           th:href="@{/home/{brand}/parts/{submodel}
                            (brand=${submodelAndParts.model.brand.brandName},
                            submodel=${submodelAndParts.submodelName})}">
                            <th:block th:text="${submodelAndParts.model.modelName}"></th:block>
                            <th:block th:text="${submodelAndParts.submodelName}"></th:block>
                            ->
                        </a>
                    </li>
                    <li>
                        <a th:each="part : ${allPartsOfGivenGroup}">
                            <th:block th:text="${part.groupName}"></th:block>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="ul-brands d-flex list-unstyled">
                <li class="col-md-3 mb-2 car" th:each="part : ${allPartsOfGivenGroup}">

                    <!--                    All parts of the group name - if the user is NOT logged in-->
                    <div class="part-container d-flex flex-column gap-2"
                         sec:authorize="!isAuthenticated()">
                        <img class="img-part" th:src="*{part.partImage}">
                        <p class="link-text part-paraf">
                            <th:block th:text="*{part.partName}"></th:block>
                        </p>

                        <div class="price-container d-flex justify-content-between gap-3">
                            <p class="part-paraf">
                                <th:block th:text="*{part.price}"></th:block>
                                лв.
                            </p>
                            <button>
                                ADD IN <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </div>
                        <a onclick="showMoreInfo()" class="show-text text-decoration-none">More</a>
                    </div>

                    <!--                    All parts of the group name - if the user IS logged in-->
                    <div class="part-container d-flex flex-column gap-2"
                         sec:authorize="isAuthenticated()">
                        <img class="img-part" th:src="*{part.partImage}">
                        <p class="link-text part-paraf">
                            <th:block th:text="*{part.partName}"></th:block>
                        </p>
                        <div class="price-container d-flex justify-content-between gap-3">
                            <p class="part-paraf">
                                <th:block th:text="*{part.price}"></th:block>
                                лв.
                            </p>
                            <form th:method="post" th:action="@{/home/add/{id}(id=*{part.id})}">
                                <button>
                                    ADD IN <i class="fa-solid fa-cart-shopping"></i>
                                </button>
                            </form>
                        </div>
                        <a onclick="showMoreInfo()" class="show-text text-decoration-none">More</a>
                    </div>

                    <div class="justify-content-between flex-column more-info-not-visible">
                        <p class="d-inline-block more-info-p"><b>Kind of the part:</b>
                            <th:block th:text="${part.kind}"></th:block>
                        </p>
                        <p class="d-inline-block more-info-p"><b>Manufacturer:</b>
                            <th:block th:text="${part.manufacturer}"></th:block>
                        </p>
                        <p class="d-inline-block more-info-p"><b>Serial number:</b>
                            <th:block th:text="${part.serialNumber}"></th:block>
                        </p>

                        <a onclick="hideMoreInfo()" class="hide-text text-decoration-none">Hide</a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>

<footer th:replace="~{fragments/footer}">
</footer>
</body>

<script type="text/javascript">
    function showMoreInfo() {
        let link = document.getElementsByClassName('show-text')[0];
        let hiddenText = document.getElementsByClassName('more-info-not-visible')[0];
        hiddenText.style.display = 'flex';
    }

    function hideMoreInfo() {
        let link = document.getElementsByClassName('hide-text')[0];
        let hiddenText = document.getElementsByClassName('more-info-not-visible')[0];
        hiddenText.style.display = 'none';
    }

    // // function addInShoppingCart() {
    // //     fetch('http://localhost:8080/home/shopping-cart').then(function (response) {
    // //         return response.text();
    // //     }).then(function (html) {
    // //         var parser = new DOMParser();
    // //         var doc = parser.parseFromString(html, "text/html");
    // //
    // //         let listWithAllParts = doc.getElementsByClassName('ul-brands')[0];
    // //
    // //         let parafWithPartName = document.getElementsByClassName('part-paraf')[0];
    // //         let partName = parafWithPartName.innerText;
    // //         let parafWithPartPrice = document.getElementsByClassName('part-paraf')[1];
    // //         let partPrice = parafWithPartPrice.innerText;
    // //
    // //         let liElementPart = document.createElement('li');
    // //         let pElementPartName = document.createElement('p');
    // //         let pElementPartPrice = document.createElement('p');
    // //         pElementPartName.innerText = partName;
    // //         pElementPartPrice.innerText = partPrice;
    // //         liElementPart.appendChild(pElementPartName);
    // //         liElementPart.appendChild(pElementPartPrice);
    // //         listWithAllParts.appendChild(liElementPart);
    // //     }).catch(function (error) {
    // //             console.warn('Something went wrong!', error);
    // //         }
    // //     )
    // }
</script>
</html>