<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navbar}">
</nav>

<div class="container">
    <div class="inner-container">
        <h1>Models</h1>
        <section class="main-section mx-auto col-md-12 d-flex flex-column justify-content-center"
                 th:each="model : ${allModels}">

            <!--            If the user IS logged in-->
            <div class="information" sec:authorize="isAuthenticated()">
                <ul class="d-flex gap-2 list-unstyled">
                    <li>
                        <a class="text-decoration-none text-dark"
                           th:href="@{/home}">CarParts -></a>
                    </li>
                    <li>
                        <a th:text="*{model.brand.brandName}"></a>
                    </li>
                </ul>
            </div>

            <!--            The list of all submodels - if the user IS logged in-->
            <ul class="ul-brands d-flex list-unstyled">
                <li class="col-md-3 mb-1 car" th:each="submodel : ${model.submodels}">
                    <div class="model-container d-flex flex-column gap-1"
                         sec:authorize="isAuthenticated()">
                        <a th:href="@{/home/{name}/parts/{submodel}
                            (name=${model.brand.brandName},submodel=${submodel.submodelName})}"
                           th:title="*{submodel.submodelName}">
                            <img class="img-submodel" th:src="*{submodel.submodelImage}">
                        </a>
                        <a class="link-text"
                           th:href="@{/home/{name}/parts/{submodel}
                            (name=${model.brand.brandName},submodel=${submodel.submodelName})}">

                            <th:block th:text="*{model.modelName}"></th:block>
                            <th:block th:text="*{submodel.submodelName}"></th:block>
                        </a>
                        <a onclick="showMoreInfo()" class="show-text text-decoration-none">More</a>
                    </div>

                    <div class="justify-content-between flex-column more-info-not-visible">
                        <p class="d-inline-block more-info-p"><b>Engine:</b>
                            <th:block th:text="${submodel.engine}"></th:block>
                        </p>
                        <p class="d-inline-block more-info-p"><b>Engine code:</b>
                            <th:block th:text="${submodel.engineCode}"></th:block>
                        </p>
                        <p class="d-inline-block more-info-p"><b>Fuel:</b>
                            <th:block th:text="${submodel.fuel}"></th:block>
                        </p>
                        <p class="d-inline-block more-info-p"><b>Horse power:</b>
                            <th:block th:text="${submodel.horsePower}"></th:block>
                        </p>
                        <p class="d-inline-block more-info-p"><b>Year:</b>
                            <th:block th:text="${submodel.year}"></th:block>
                        </p>

                        <a onclick="hideMoreInfo()" class="hide-text text-decoration-none">Hide</a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>

<footer th:replace="~{fragments/footer}">
</footer>
</body>

<script type="text/javascript">
    function showMoreInfo() {
        let link = document.getElementsByClassName('show-text')[0];
        let hiddenText = document.getElementsByClassName('more-info-not-visible')[0];
        hiddenText.style.display = 'flex';
    }

    function hideMoreInfo() {
        let link = document.getElementsByClassName('hide-text')[0];
        let hiddenText = document.getElementsByClassName('more-info-not-visible')[0];
        hiddenText.style.display = 'none';
    }
</script>
</html>