<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head}">
</head>

<body>
    <header th:replace="~{fragments/navbar}">
    </header>

    <main class="section-container">
        <div class="container">
            <div class="inner-container">
                <article>
                    <header>
                        <h1>PROFILE</h1>
                    </header>
                    <main>
                        <ul class="list-unstyled">
                            <li>
                                <h3>Email:</h3>
                            </li>
                            <li sec:authentication="name"></li>

                        </ul>
                    </main>
                </article>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer}">
    </footer>
</body>
</html>