<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>
    <header th:replace="~{fragments/navbar}">
    </header>

    <main class="section-container">
        <div class="container">
            <div class="inner-container">
                <article>
                    <header>
                        <h1>PROFILE</h1>
                    </header>
                    <main>
                        <ul class="list-unstyled">
                            <li>
                                <h3>Full name:</h3>
                            </li>
                            <li th:text="${@currentUser.getFullName()}"></li>
                            <li><h3>Last name:</h3></li>
                            <li th:value="${@currentUser.lastName}"></li>
                        </ul>
                    </main>
                </article>
            </div>
        </div>
    </main>
</body>
</html>