@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@500&family=PT+Sans&family=Poppins:wght@300&family=Roboto+Condensed:ital@1&display=swap');

body {
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.6)),url("../images/parts.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.navbar {
    font-size: 25px;
}

.brand {
    font-size: 35px;
    margin: 0 25px;
}

.ul-style {
    width: 1200px;
    margin-left: 50px;
}

.main-form {
    padding: 30px 40px 20px 40px;
}

.form-required:after {
    content: "*";
    color: red;
    padding-left: 3px;
    font-size: 13px;
    line-height: 5px;
}

.inner-container {
    background-color: lightgrey;
    margin-top: 130px;
    padding: 30px 0 20px 0;
}

form > div:last-child {
    margin: 15px auto auto auto;
}

.main-section {
    padding: 30px 25px 20px 25px;
}

.ul-brands {
    padding: 5px 30px;
    gap: 40px;
    flex-wrap: wrap;
}

.brand-container {
    height: 250px;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
}

.model-container {
    height: 290px;
    align-items: center;
    padding: 10px 10px;
}

.link-text {
    text-decoration: none;
    font-size: 25px;
    color: #212529;
    font-weight: bold;
}

.img-brand {
    width: auto;
    height: 130px;
    margin: 10px auto auto auto;
}

.img-submodel {
    width: auto;
    height: auto;
    margin: 10px auto auto auto;
}

.car:hover {
    border: 1px solid gray;
    border-radius: 3px;
}

.buttons {
    margin: 10px auto;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.information {
    border-bottom: 2px solid black;
    margin: 0 10px 15px 10px;
}

.part-group {
    height: 90px;
    align-items: center;
    border-radius: 5px;
    background-color: #212529;
    color: white;
}

.part-group:hover {
    color: #212529;
    background-color: lightgrey;
    border: 2px solid #212529;
}

.more-info-not-visible {
    display: none;
    padding: 5px 10px;
}

.more-info-p {
    margin-bottom: 0;
    color: #212529;
}

.show-text, .hide-text {
    cursor: pointer;
    text-align: center;
}

.img-part {
    width: auto;
    height: 180px;
    margin: 10px auto auto auto;
}

.part-container {
    height: 350px;
    align-items: center;
    padding: 10px 10px;
}

.price-container > .part-paraf {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: auto;
}

.price-container > button, .price-container > form > button {
    background-color: midnightblue;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: Calibri, sans-serif;
    border: 2px solid #212529;
}

.part-container > div > button:hover {
    background-color: #212529;
}

.part-container > .part-paraf {
    margin-bottom: auto;
}

.container-footer {
    font-family: Calibri, sans-serif;
    background-color: #212529;
    margin-top: 60px;
    gap: 130px;
}

.contacts-footer > li {
    margin-bottom: 6px;
}

.contacts-footer > .title, .media-footer > .title {
    margin-bottom: 20px;
}

.footer-icon {
    margin-right: 9px;
}

.logout-btn {
    color: lightgrey;
    font-size: 25px;
    padding: 0;
    margin-left: 8px;
}

article {
    padding: 10px 40px;
}

